<h2>Photo</h2>

<span class="edit btn btn-primary">Edit</span> 

<div class="title"><strong>Title:</strong> {{title}}</div>
<div class="thumbnail not-image" data-preview-image="{{thumbnail}}"><strong>Thumbnail:</strong> {{thumbnail}}</div>
<div class="image" data-preview-image="{{image}}"><strong>Image:</strong> {{image}}</div>
<div class="event-id">
    <strong>Event:</strong>
    {{#hasEvent}}<a href="#event/{{eventId}}">Go to it</a>{{/hasEvent}}
    {{^hasEvent}}None{{/hasEvent}}
</div>
<div class="is-active"><strong>Active</strong> {{isActive}}</div>